*.suo
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.ipch
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.recipe
*.ilk
*.log
*.obj
*.1.tlog
*.read.1.tlog
*.write.1.tlog
*.lastbuildstate
*.command.1.tlog
*.read.1.tlog
*.write.1.tlog
*.idb
*.pdb
*.exe
*.pdb
